.loading {
    color: rgb(165, 158, 240);
    z-index: 10;
    text-align: center;
    isolation: isolate;
    text-transform: capitalize;
}

.loading-title {
    position: absolute;
    font-size: 2rem;
    top: 75%;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    isolation: isolate;
}

.circle {
    position: absolute;
    background: #d2ffdc;
    height: 60px;
    width: 60px;
    border-radius: 50%;

}

.circle:nth-child(1) {
    animation: loading-in 600ms ease-in-out alternate infinite;
    opacity: .975
}

.circle:nth-child(2) {
    animation: loading-out 600ms ease-in-out alternate infinite;
    opacity: .925;
    background-color: rgb(165, 158, 240);
}

@keyframes loading-out {
    from {
        transform: scale(2);
    } to {
        transform: scale(0);
    }
}

@keyframes loading-in {
    from {
        transform: scale(0);
    } to {
        transform: scale(2);
    }
}

@media screen and (max-width: 37.5rem) {
    .loading-title {
        font-size: 1.4rem;
    }
}
