.error {
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    margin-block: 1em .675em;
}

.error-container {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.error-img {
    height: 20em;
}

.button {
    position: relative;
    padding: 8px;
    background: linear-gradient(45deg, rgb(66, 128, 247), rgb(102, 66, 247));
    color: #fff;
}

.button::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 135px;
    height: 42px;
    z-index: -1;
    opacity: .2;
    background: linear-gradient(45deg, rgb(66, 128, 247), rgb(102, 66, 247));
    transition: opacity 240ms ease-in-out;
    filter: blur(4px);
}

.button:hover::before {
    opacity: .8;
}
